<div class="container">
	<div *ngIf="courses && courses.length == 0" style="text-align:center">
		<img align="center" src="assets/images/ellipsis.gif" /><br/>
		<label>Just a moment..</label>
	</div>
	<div class="row">
		<div (click)="loadCourse(course)" class="col-sm-3 dashboard-item" *ngFor="let course of courses">
			<img class="dashboard-item-image" [src]="getCourseImageURL(course)" (error)="updateCourseImageURLtoDefault(course)" />
			<b>{{course.meta.title}}</b>
			<small>by Sanjay Verma
			    <u><a *ngIf="authenticationService.isLoggedIn() && isCourseEditor(course)" (click)="editCourse(course)">Edit course</a></u>
			</small>
		</div>
	</div>
</div>