.dashboard-item {
    margin: 10px; 
    background-color: white;
    cursor:pointer; 
    border: none;
    box-shadow:0px 0px 2px gray;
}

.dashboard-item:hover {
    margin: 10px;
    background-color: white;
    cursor:pointer; 
    border: none;
    box-shadow:0px 5px 20px gray;
}

.dashboard-item-image {
  margin-bottom: 5px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}