<div *ngIf="course">
    <h2>Edit section: "{{section.title}}"</h2>
    <div class="form-group">
        <label>Title</label>
        <input [(ngModel)]="section.title" type="text" class="form-control" name="name" required />
    </div>

    <div class="form-group">
        <label>Instruction Text</label>
        <a (click)="editInstructions()">edit..</a>
        <textarea [(ngModel)]="section.instruction.text" class="form-control" name="instructionText"></textarea>
    </div>

    <div class="form-group">
        <label>Valid Inputs</label><br/>
        <div *ngFor="let validInput of section.validInputs; let i = index;">
            <!-- I have to use index 'i' instead of 'validInput' for ngModel,
        as native type (string) doesn't appear to be working with ngModel -->
            <textarea [(ngModel)]="section.validInputs[i]" class="form-control" placeholder="Default input here"></textarea><br/>
        </div>
        <a (click)="addValidInput()" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span> add Input
        </a>
    </div>

    <div class="form-group">
        <label>Input Field Placeholder</label>
        <input [(ngModel)]="section.inputPlaceholder" class="form-control" name="placeholderText" />
    </div>

    <div class="form-group">
        <label>Success Output</label>
        <textarea [(ngModel)]="section.output.text" class="form-control" name="outputText"></textarea>
    </div>

    <div class="form-group">
        <h3>Exercises</h3>
        <div *ngFor="let exercise of section.exercises; let exerciseIndex = index" class="panel panel-primary">
            <div class="panel-heading">Exercise {{exerciseIndex + 1}}: "{{exercise.question}}"</div>
            <div class="panel-body">
                <div class="input-group">
                    <label>Description</label>
                    <input [(ngModel)]="exercise.question" type="text" class="form-control" name="name" required />
                    <br/>
                    <label><br/>Points</label>
                    <input [(ngModel)]="exercise.points" type="text" class="form-control" name="name" required />
                    <br/>
                    <label><br/>Correct answer</label>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{exercise.correctOption + 1}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let option of exercise.options; let i = index">
                                <a (click)="setCorrectOption(exercise, i)">Option {{i + 1}}</a>
                            </li>
                        </ul>
                    </div>
                    <label><br/>Answer explanation</label>
                    <input [(ngModel)]="exercise.explanation" type="text" class="form-control" name="name" required />
                </div><br/>
                <div *ngFor="let option of exercise.options; let optionIndex = index" class="panel panel-default">
                    <div class="panel-heading">Option {{optionIndex + 1}}
                        <small><button style="float:right;" (click)="deleteOption(exercise, optionIndex)">delete this option</button></small>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Text:</span>
                            <input [(ngModel)]="exercise.options[optionIndex]" type="text" class="form-control" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                </div>
                <a (click)="addOption(exercise)" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-plus-sign"></span> add option
                </a><br/><br/>
            </div>
        </div>
        <a (click)="addExercise()" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span> add exercise
        </a><br/><br/>
    </div>
</div>